.gameWrapper {
    display: flex;
    position: static;
    z-index: 0;
    justify-content: center;
    text-align: center;
    max-width: 864px;
    height: auto;
    margin: 5% auto;
    padding: 18px 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.gameSidePanel {
    width: 25%;
    height: auto;
}

.gameBoard {
    height: auto;
    width: 50%;
}

.selectedDisplay, .marbleBucket {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.marbleSelector, .selectedMarble {
    /* border: 2px solid black; */
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin: 2.5%;
}

.selectedDisplay {
    border-top: 5px dotted black;
    border-bottom: 5px dotted black;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.emptyMarble {
    background: radial-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 100%);
}

.redMarble {
    background: radial-gradient(red 0%, rgba(255, 0, 0, .2) 100%);
}

.blueMarble {
    background: radial-gradient(blue 0%, rgba(0, 0, 255, .8) 20%, rgba(0, 0, 255, .6) 40%, rgba(0, 0, 0, .25) 100%);
    
}

.yellowMarble {
    background: radial-gradient( yellow 0%, rgba(255, 255, 0, .2) 100%);
}

.greenMarble {
    background: radial-gradient(green 0%, rgba(0, 255, 0, .2) 100%);
}

.pinkMarble {
    background: radial-gradient(magenta 0%, rgba(255, 0, 255, .2) 100%);
}

.whiteMarble {
    background: radial-gradient(white 0%, rgba(255, 255, 255, .2) 100%);
}

.redPeg {
    background-color: red;
}
.whitePeg {
    background-color: white;
}

.guessRowContainer {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2.5px 5px 15px black;
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
    height: 90px;
    margin: 1% auto;
    display: inline-flex;
    justify-content: center;
}

.guessRowSlot {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin: 7px auto;
}

.resultsRowContainer {
    width: 90%;
    height: 90px;
    margin: 1% auto;
    display: inline-flex;
    justify-content: center;
}

.resultsIndicator {
    border: 2px solid black;
    border-radius: 50%;
    width: 36px;
    height: 36px; 
    margin: auto 1%;
}

/* GAME END MODAL STYLING */
.modalContainer {
    position: fixed; /* Stay in place */
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    z-index: 2; /* Sit on top */
    justify-content: center;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 450px;
    background-color: darkorchid;
  }
  
.modalContents {
    background-color: rgba(255, 255, 255, .2);
    margin: 45px auto;
    padding: 0px;
    border: 1px solid black;
    width: 80%;
    height: 80%;
  }