.gameWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 864px;
    height: auto;
    margin: 5% auto;
}

.gameSidePanel {
    width: 25%;
    height: auto;
    border: 1px solid black;
}

.gameBoard {
    height: auto;
    width: 50%;
    border: 1px solid black;
}

.selectedDisplay, .marbleBucket, ResultsRow {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.marbleSelector, .selectedMarble {
    border: 2px solid black;
    border-radius: 50%;
    width: 72px;
    height: 72px; 
    margin: 2.5%;
}

.resultsIndicator {
    border: 2px solid black;
    border-radius: 50%;
    width: 36px;
    height: 36px; 
    margin: 1%;
}

.selectedDisplay {
    border-top: 5px dotted black;
    border-bottom: 5px dotted black;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.redMarble {
    background-color: red;
}

.blueMarble {
    background-color: blue;
}

.yellowMarble {
    background-color: yellow;
}

.greenMarble {
    background-color: green; 
}

.pinkMarble {
    background-color: pink;
}

.whiteMarble {
    background-color: white;
}

.guessRowContainer {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
    height: 90px;
    margin: 1% auto;
    display: inline-flex;
    justify-content: center;
}

.guessRowSlot {
    border: 2px solid black;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin: 7px auto;
}