.profileWrapper {
    display: flex;
    justify-content: center;
    margin: 2.5%;
}

#detailsContainer {
    width: 288px;
    justify-content: center;
}
.profileAvatar {
    width: 288px;
    height: 288px;
}

.selfProfileInput {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
}

#userBioInput {
    width: 576px;
    height: 300px;
    margin: 1%;
    padding: 5px;
    font-size: 24px;
}

.submitButton {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    font-size: 24px;
    width: 144px;   
}

.otherProfileWrapper {
    display: flex;
    text-align: center;
}

.leftContainer {
    min-width: 288px;
    margin: 10px;
}

.bioContainer {
    margin: 10px;
}

.profile-modalContainer {
    position: fixed; /* Stay in place */
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    z-index: 2; /* Sit on top */
    justify-content: center;
    left: 25%;
    top: 15%;
    /* margin-top: 5%; */
    width: 50%;
    height: 225px;
    background-color: darkorchid;
  }
  
.profile-modalContents {
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    margin: 5% auto;
    padding: 0px;
    border: 1px solid black;
    width: 80%;
    height: 80%;
  }