.leaderboardDisplayWrapper {
    text-align: center;
}

.leaderboardTableContainer {
    display: flex;
    justify-content: center;
    width: 80%;
}

table, th, td {
    border: 5px solid rgba(153, 50, 224);
    border-collapse: collapse;
    text-align: center;
    font-size: 24px;
    margin: 2.5% auto;
}

