.headerWrapper {
    position: fixed;
    top: 0;
    background-color: rgba(150, 0, 200, 1);
    box-shadow: 0px 10px 5px black;
    display: flex;
    height: 90px;
    width: 100%;
    margin: 0% ;
}

.navBarWrapper {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
    align-items: center;
    margin-right: 5%;
    margin-left: 0%;
}

.headerAvatar {
    height: 80px;
    width: 80px;
    margin: 5px;
}

.logoutContainer {
    width: auto;
}

.headerUsername {
    margin: 5px 0px;
    text-align: left;
    height: 30px;
    width: 144px;
}

.navButtonContainer {
    background-color: rgba(255, 255, 255, .5);
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 50px;
    margin: 0px 6px;
    padding: 6px 12px;
    text-align: center;
    min-width: 72px;
    height: 50%;
}

.navButtonContainer:hover {
    background-color: rgba(153, 50, 224);
}

.navButtonContainer_active {
    background-color: rgba(153, 50, 224);
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 50px;
    margin: 0px 6px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: underline;
    min-width: 72px;
    height: 50%;
}

.navButtonLabel {
    margin: 7.5px 0px;
    font-size: 20px;
}

label {
    margin: 0px;
    padding: 0px;
}

#usernameInput {
    margin: 4.75px 0px 7.5px 0px;
    width: 142px;
}

#passwordInput {
    margin: 0px 0px 7.5px 0px;
    width: 142px;
}

.headerWidgetButton {
    width: 75px;
}